*{
    margin: 0;
    padding: 0;
    font-family: 'Laila', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

//VARIABLES
@import './variables/tamanios';
@import './variables/mixin';



//SECCIONES
@import './secciones/index';
@import './secciones/nosotros';
@import './secciones/ritmos';
@import './secciones/galeria';
@import './secciones/contacto';
@import './secciones/header-footer';
@import './secciones/mediaqueries';








        
    


