/*--------Main Index----------*/
.mainIndex{
    margin-top: 5px;
    .sectionDanza{
        display: flex;
        align-items: center;
        margin-top: 100px;
        .danzaModerna{
            position: absolute;
            border-radius: 10px;
            width: 55%;
            padding: 7px 23px;
            margin-left: 40px;
            z-index: 1000;
            h2{
                color: #260329;
                font-weight: bolder;
                font-size: $maxsubtitulos;
            }
            h1{
                color: #69306D;
                font-size: 3.2rem;
                font-family: 'Laila', sans-serif;
            }
            p{
                color: #260329;
                font-size: $minsubtitulos;
                margin-bottom: 0px;
            }
        }
    }
    .sectionPages{
        display: flex;
        margin: 30px;
        justify-content: space-around;
        .nosotrosIndex{
            width: 50%;
            margin: 25px;
            img{
                width: 100%;
                border-radius: 10px;
                box-shadow: 4px 10px 20px 0px rgba(28, 2, 27, 0.9); 
            }
            h3{
                color: #69306D;
                font-weight: bold;
                font-size: $maxsubtitulos;
                margin: 0 auto;
                margin-top: 15px;
            }
            p{
                color: #260329;
                margin-bottom: 0px;
            }
            .boton{
                text-decoration: none;
                color: #A5668B;
                &:hover{
                    color: #69306D;
                    font-weight: bold;
                    text-decoration: overline;
                }
            }
        }
        .ritmosIndex{
            width: 50%;
            margin: 25px;
            img{
                width: 100%;
                border-radius: 10px;
                box-shadow: 4px 10px 20px 0px rgba(28, 2, 27, 0.9); 
            }
            h3{
                color: #69306D;
                font-weight: bold;
                font-size: $maxsubtitulos;
                margin: 0 auto;
                margin-top: 15px;
            }
            p{
                color: #260329;
                margin-bottom: 0px;
            }
            .boton{
                text-decoration: none;
                color: #A5668B;
                &:hover{
                    color: #69306D;
                    font-weight: bold;
                    text-decoration: overline;
                    
                }
            }
        }
    }
}














