/*----------MEDIA QUERIES-----------*/
/*Tamaño mediano*/
@media (max-width: 800px) {
    /*---------MEDIA QUERIES - Nosotros---------*/
    .mainNosotros{
        .sectionPasion{
            h1{
                font-size: $minsubtitulos;
            }
        }
        .sectionArticle{
            .articleHistoria{
                margin: 15px;
                h2{
                    font-size: $textotitulo;
                }
                p{
                    font-size: $textomin;
                }
            }
        }
        .articleClases{
            width: 80%;
            h3{
                font-size: $minsubtitulos;
            }
            p{
                font-size: $textomin;
            }
        }
        .estructura{
            flex-direction: column-reverse;
            align-items: center;
            .estructuraClase{
                width: 85%;
                margin: 0 auto;
                margin-bottom: 30px;
                h4{
                    font-size: $textoparrafo;
                }
                li{
                    font-size: $textomin;
                }
            }
            .imagenesNosotros{
                width: 90%;
                flex-direction: column;
                align-items: center;
                img{
                    width: 100%;
                    margin: 10px;
                }
            }
        }
    }
    /*---------MEDIA QUERIES - Main Index---------*/
    .mainIndex{
        .sectionDanza{
            justify-content: center;
            .danzaModerna{
                width: 70%;
                margin-left: 0px;
                background-color: rgba(242, 215, 238, 0.6);
                padding: 20px;
                h1{
                    font-size: $maxsubtitulos;
                }
                h2{
                    font-size: $textoparrafo;
                }
                p{
                    font-size: $textoparrafo;
                }
            }
        }
        .sectionPages{
            flex-direction: column;
            align-items: center;
            .nosotrosIndex{
                width: 90%;
                h3{
                    font-size: $minsubtitulos;
                }
            }
            .ritmosIndex{
                width: 90%;
                h3{
                    font-size: $minsubtitulos;
                }
            }
        }
    }
    /*---------MEDIA QUERIES - Galeria---------*/
    .mainGaleria{
        .tituloGaleria{
            h1{
                font-size: $minsubtitulos;
            }
        }
        .containerr{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(6,140px);
            gap: 7px 7px;
            grid-template-areas:
    
            "galeria1 galeria2 galeria3"
    
            "galeria4 galeria5 galeria6"
    
            "galeria7 galeria8 galeria9" 
    
            "galeria10 galeria11 galeria12"
    
            "video1 video1 video1"
    
            "video2 video2 video2";
        } 
    }
    /*---------MEDIA QUERIES - Ritmos---------*/
    .mainRitmos{
        .tituloRitmos{
            h1{
                font-size: $minsubtitulos;
            }
        }
    }
    
    /*---------MEDIA QUERIES - Contacto---------*/
    .contenedorTotal{
        .tituloContacto{
            h1{
                font-size: $minsubtitulos;
            }
        }
        .contenedorContacto{
            flex-direction: column;
            .textoContacto{
                p{
                    font-size: $textoparrafo;
                }
            }
            .formContacto{
                width: 100%;
                margin: auto;
                align-items: center;
                input{
                    text-align: center;
                }
                .botonEnviar{
                    input{
                        font-size: $textoparrafo;
                    }
                }
            }
        }
        
    }  
}
/*----------MEDIA QUERIES-----------*/
/*Tamaño chico*/
@media (max-width: 500px) {
    /*---------MEDIA QUERIES - Header---------*/
    .logoHeader {
        width: 60px;
    }
    /*---------MEDIA QUERIES - Main Index---------*/
    .mainIndex{
        .sectionDanza{
            .danzaModerna{
                background-color: rgba(242, 215, 238, 0.6);
                padding: 20px;
                margin: 0 auto;
                h2{
                    font-size: $textoparrafo;
                }
                h1{
                    font-size: $minsubtitulos;
                }
                p{
                    font-size: $textomin;
                }
            }
        }    
        .sectionPages{
            width: 80%;
            margin: 0 auto;
            .nosotrosIndex{
                width: 100%;
                h3{
                    font-size: $minsubtitulos;
                }
                p{
                    font-size: $textomin;
                }
                .boton{
                    font-size: $textomin;
                }
            }
            .ritmosIndex{
                width: 100%;
                h3{
                    font-size: $minsubtitulos;
                }
                p{
                    font-size: $textomin;
                }
                .boton{
                    font-size: $textomin;
                }
            }
        }
    }
    /*---------MEDIA QUERIES - Footer---------*/
    .footer{
        flex-direction: column-reverse;
        .redes{
            margin: 0px;
        }
    }
    /*---------MEDIA QUERIES - Nosotros---------*/
    .mainNosotros{
        margin-top: 95px;
        .sectionPasion{
            h1{
                font-size: $minsubtitulos;
            }
        }
        .sectionArticle {
            flex-direction: column;
            img{
                width: 100%;
            }
            .articleHistoria{
                h2 {
                    font-size: $textotitulo;
                }
                p{
                font-size: $textomin;
                }
            }
        }
        .articleClases{
            width: 80%;
            h3{
                font-size: $textotitulo;
            }
        }
        .estructura{
            flex-direction: column-reverse;
            align-items: center;
            .estructuraClase{
                width: 80%;
                margin: 0 auto;
                margin-bottom: 30px;
                h4{
                    font-size: $textoparrafo;
                }
                li{
                    font-size: $textomin;
                }
            }
            .imagenesNosotros{
                width: 80%;
                img{
                    width: 100%;
                }
            }
        }
    }
    /*---------MEDIA QUERIES - Ritmos---------*/
    .mainRitmos{
        margin-top: 95px;
        .tituloRitmos{
            h1{
            font-size: $minsubtitulos;
            }
        }
    }
    /*---------MEDIA QUERIES - Galeria---------*/
    .mainGaleria{
        margin-top: 95px;
        .tituloGaleria{
            h1{
                font-size: $minsubtitulos;
            }
        }
        .containerr{ 
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(8,130px);
            gap: 7px 7px;
            grid-template-areas:
    
            "galeria1 galeria2"
    
            "galeria3 galeria4"
    
            "galeria5 galeria6"
    
            "galeria7 galeria8" 
    
            "galeria9 galeria10"
    
            "galeria11 galeria12"
    
            "video1 video1"
    
            "video2 video2";
        }
    }
    
    /*---------MEDIA QUERIES - Contacto---------*/
    .contenedorTotal{
        margin-top: 95px;
        .tituloContacto{
            h1{
                font-size: $minsubtitulos;
            }
        }
        .contenedorContacto{
            align-items: center;
            .textoContacto{
                p{
                    font-size: $textomin;
                }
            }
            .formContacto{
                input{
                    font-size: $textomin;
                }
                label{
                    font-size: $textomin;
                }
                .botonConsulta{
                    font-size: $textomin;
                    input{
                        font-size: $textomin;
                    }
                }
                .botonEnviar{
                    font-size: $textomin;
                    input{
                        font-size: $textomin;
                    }
                }
            }
        }
    }   
}