/*----------Pages NOSOTROS-----------*/
.mainNosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    .sectionPasion{
        width: 100%;
        background-color: #69306D;
        h1{
            @include titulo-pages ();
        }
        img{
            width: 100%;
        }  
    }
    .sectionArticle{
        display: flex;
        background-color: rgba(165, 102, 139, 0.2);
        border-radius: 10px;
        width: 85%;
        margin: 25px;
        img{
            width: 50%;
            object-fit: cover;
            border-radius: 10px;
        }
        .articleHistoria{
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-size: $maxsubtitulos;
                color: #69306D;
                font-weight: bold;
            }
            p{
                color: #260329;
            }
        }

    }
    .articleClases{
        display: flex;
        flex-direction: column;
        width: 75%;
        align-items: center;
        h3{
            font-size: $minsubtitulos;
            font-weight: bold;
            color: #69306D;
        }
        p{
            color: #260329;
        }
        img{
            width: 100%;
            margin: 10px;
            border-radius: 10px;
        }
    }
    .estructura{
        display: flex;
        background-color: rgba(165, 102, 139, 0.2);
        border-radius: 10px;
        flex-direction: column-reverse;
        margin: 45px;
        .estructuraClase{
            margin: 44px;
            h4{
                color: #A5668B;
                font-size: $minsubtitulos;
                font-weight: bold;
            }
            li{
                font-size: $textoparrafo;
                color: #260329;
            }
            span{
                font-weight: bold;
                color: #260329;
            }
        }
        .imagenesNosotros{
            width: 100%;
            display: flex;
            padding-top: 20px;
            justify-content: space-evenly;
            img{
                width: 45%;
                border-radius: 10px;
            }
        }
    }
}




